body {
	width: 935px;
	font-family: arial, helvetica, sans-serif;
	margin: auto;
}

/************* header ************/

header h1 {
	float: left;
	text-indent: -9999px;
	margin-bottom: 20px;
	letter-spacing: -2px;
}


header h1 a{
	background: url(../img/2_logo2.png) no-repeat;
	width: 175px;
	height: 28px;
	float: left;	
}

header h1 span {
	font-weight: normal;
}

nav ul {
	float: right;
	padding-top: 15px;
}

nav ul li {
	font-size: 0.8em;
	display: inline;
	margin-left: 15px;
}

nav li .active, a:hover{
	color:#202020;
}


header .img {
	clear: both;
}

header img:last-child {
	margin-left: 13px;
}

/************* miscellaneous ************/

a {
	text-decoration: none;
	color: #7B7B7B;
}

/************* main ************/

.main {
	clear: both;
}

article {
	float: left;
	width: 450px;	
	margin-bottom: 50px;
}

article:last-child {
	float: right;	
	margin-right: 10px;
}

article h2 {
	font-weight: normal;
	line-height: 25px;
}

article h2:nth-child(2), article h2:nth-child(3) {
	margin-top: -15px;
	color: #757575;
}

article h2:nth-child(3) {
	padding-bottom: 30px;
	border-bottom: 1px solid #D2D2D2;	
}

article p {
	font-size: 0.8em;
	line-height: 1.8em;
	color: #343434;
}

/************* footer ************/

footer {
	clear: both;
	border-top: 1px solid #D2D2D2;		
	padding-top: 10px;		
}

footer p {	
	font-size: 0.8em;
}

footer span{
	color: #7B7B7B;
}

/****************** desc *********************
*
*  created by 	: @mandhalich
*  source 		: anywhere on the internet
*  date 		: 16 june 2014 2.12 pm	
*  location  	: leyeh2 di kos
*
/****************** end *********************/